@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
section{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
#main{
    background-color:   #200153;
}
#about{
    background-color: #0090FF;
    }

#skills{
    background-color:#792AFF;
    }

#works{
    background-color:#200153 ;
    }

#comments{
    background-color: #200153;
    }

.main-block, .about-block, .skills-block, .works-block, .comments-block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.main-block{
    flex-direction: column;
    height: 100vh;
    }
.main-content{
    background-image:url(image2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 849px;
    height: 223px;
    padding-left: 30px;
    }

.main-title{
    padding-top: 67px;
    color: #2B2D35;
    font-size: 80px;
    }
.main-subtitle{
    color: #2B2D35;
    font-size: 20px;
    font-family: 'Comfortaa';
    }
.button{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid #000;
    background: #BBFF2C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #000000;
    margin-top: 20px;
    }
.button a {
    font-size: 20px;
    text-decoration: none;
    }
.button{
    transition-duration: 0.3s;
    }
.button:hover{
    background: #a0d826;
    }
.main-content{
    z-index: 2;
    }
.img1{
    background: url(image1.png);
    background-repeat: no-repeat;
    width: 405px;
    height: 330px;
    transform: rotate(-176deg);
    position: absolute;
    right: 20px;
    z-index: 2;

}
@keyframes planet-move {
    from{transform: translateY(0px);}
    to{transform: translateY(70px);}
}
.moving-planet{
    z-index: 2;
    background: url(image3.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 230px;
    transform: rotate(-15deg);
    bottom: 30px;
    left: 30px;
    animation-name: planet-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.title{
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-size: 80px;
    text-shadow: 
         5px 5px 0 #000000;
 }